:textile

  h3. About PMRetract

  h4. What is it?

  PMRetract is a web application for monitoring and analysing retraction notices in the "PubMed":http://www.pubmed.org database.

  You can read more about it in:
  * "Analysis of retractions in PubMed":http://nsaunders.wordpress.com/2010/11/30/analysis-of-retractions-in-pubmed/
  * "Monitoring PubMed retractions: a Heroku-hosted Sinatra application":http://nsaunders.wordpress.com/2010/12/22/monitoring-pubmed-retractions-a-heroku-hosted-sinatra-application/

  h4. Who wrote it?

  Neil Saunders.  You can find me all over the Web; here's "my blog":http://nsaunders.wordpress.com and "my Twitter":http://twitter.com/neilfws.

  Please note that this is a personal project, not endorsed by my current employer.

  h4. What's a retraction notice?

  A retraction notice is a brief publication describing the retraction of one or more articles from a journal.
  PMRetract monitors retraction notices, rather than retracted articles.

  PubMed search for retraction notices: "Retraction of Publication"[Publication Type]
  PubMed search for retracted articles: "Retracted Publication"[Publication Type].

  h4. When is it updated?

  Every time "this RSS feed":http://eutils.ncbi.nlm.nih.gov/entrez/eutils/erss.cgi?rss_guid=1NAkULqPpWy_euyFrDx8Udp-vwfgnOxTHXDP8gHFAKZppK9gdp updates.

  h4. Can I see the code/data?

  Of course you can.  This is a public project "at GitHub":https://github.com/neilfws/PubMed.
  The code for this web application is in _retractions/code/sinatra_.
  There are also some other useful code snippets and raw data in the GitHub repository.

  Feel free to fork the project, report bugs and suggest improvements.