!!! XML
!!!

%html
  %head
    %title PubMed Retractions
    %script{:type => "text/javascript", :src => "/javascripts/jquery-1.7.1.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/highcharts.js"}
    %script{:type => "text/javascript", :src => "/javascripts/exporting.js"}
    %script{:type => "text/javascript", :src => "/javascripts/grid.js"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "/stylesheets/main.css"}
  %body
    %div{:style => "color: #ff0000; margin-left: auto; margin-right: auto; width: 800px"} THIS SITE WILL CEASE TO UPDATE MARCH 16 2015: SEE ABOUT PAGE FOR DETAILS
    %div(style="float:right")
      %a(href="/") Timeline
      |
      %a(href="/cumulative")  Cumulative
      |
      %a(href="/byyear") By Year
      |
      %a(href="/journals") Journals
      |
      %a(href="/about") About
    %div
      = yield

