%h3 Testing

%div#container(style="margin-left: auto; margin-right: auto; width: 800px;")

:javascript
  var masterChart, detailChart;

  $(document).ready(function() {
                                // create the master chart
                                function createMaster() {
                                  masterChart = new Highcharts.Chart({
                                                chart: {
                                                        renderTo: 'master-container',
                                                        reflow: false,
                                                        borderWidth: 0,
                                                        backgroundColor: null,
                                                        marginLeft: 50,
                                                        marginRight: 20,
                                                        zoomType: 'x',
                                                        events: {

                                                        // listen to the selection event on the master chart to update the
                                                        // extremes of the detail chart
                                                                selection: function(event) {
                                                                        var extremesObject = event.xAxis[0],
                                                                                min = extremesObject.min,
                                                                                max = extremesObject.max,
                                                                                detailData = [],
                                                                                xAxis = this.xAxis[0];

                                                                        // reverse engineer the last part of the data
                                                                        jQuery.each(this.series[0].data, function(i, point) {
                                                                                if (point.x > min && point.x < max) {
                                                                                        detailData.push({
                                                                                                x: point.x,
                                                                                                y: point.y
                                                                                        });
                                                                                }
                                                                        });

                                                                        // move the plot bands to reflect the new detail span
                                                                        xAxis.removePlotBand('mask-before');
                                                                        xAxis.addPlotBand({
                                                                                id: 'mask-before',
                                                                                from: Date.UTC(2006, 0, 1),
                                                                                to: min,
                                                                                color: 'rgba(0, 0, 0, 0.2)'
                                                                        });

                                                                        xAxis.removePlotBand('mask-after');
                                                                        xAxis.addPlotBand({
                                                                                id: 'mask-after',
                                                                                from: max,
                                                                                to: Date.UTC(2008, 11, 31),
                                                                                color: 'rgba(0, 0, 0, 0.2)'
                                                                        });


                                                                        detailChart.series[0].setData(detailData);

                                                                        return false;
                                                                }
                                                        }
                                                },
                                                title: {
                                                        text: null
                                                },
                                                xAxis: {
                                                        type: 'datetime',
                                                        showLastTickLabel: true,
                                                        maxZoom: 14 * 24 * 3600000, // fourteen days
                                                        plotBands: [{
                                                                id: 'mask-before',
                                                                from: Date.UTC(2006, 0, 1),
                                                                to: Date.UTC(2008, 7, 1),
                                                                color: 'rgba(0, 0, 0, 0.2)'
                                                        }],
                                                        title: {
                                                                text: null
                                                        }
                                                },
                                                yAxis: {
                                                        gridLineWidth: 0,
                                                        labels: {
                                                                enabled: false
                                                        },
                                                        title: {
                                                                text: null
                                                        },
                                                        min: 0.6,
                                                        showFirstLabel: false
                                                },
                                                tooltip: {
                                                        formatter: function() {
                                                                return false;
                                                        }
                                                },
                                                legend: {
                                                        enabled: false
                                                },
                                                credits: {
                                                        enabled: false
                                                },
                                                plotOptions: {
                                                        series: {
                                                                fillColor: {
                                                                        linearGradient: [0, 0, 0, 70],
                                                                        stops: [
                                                                                [0, '#4572A7'],
                                                                                [1, 'rgba(0,0,0,0)']
                                                                        ]
                                                                },
                                                                lineWidth: 1,
                                                                marker: {
                                                                        enabled: false
                                                                },
                                                                shadow: false,
                                                                states: {
                                                                        hover: {
                                                                                lineWidth: 1
                                                                        }
                                                                },
                                                                enableMouseTracking: false
                                                        }
                                                },

                                                series: [{
                                                        type: 'area',
                                                        name: 'USD to EUR',
                                                        pointInterval: 24 * 3600 * 1000,
                                                        pointStart: Date.UTC(2006, 0, 01),
                                                        // data: data
                                                        data: #{options.data.inspect.gsub(/"/,"")}
                                                }],

                                                exporting: {
                                                        enabled: false
                                                }

                                        }, function(masterChart) {
                                                createDetail(masterChart)
                                        });
                                }

                                // create the detail chart
                                function createDetail(masterChart) {

                                        // prepare the detail chart
                                        var detailData = [],
                                                detailStart = Date.UTC(2008, 7, 1);

                                        jQuery.each(masterChart.series[0].data, function(i, point) {
                                                if (point.x >= detailStart) {
                                                        detailData.push(point.y);
                                                }
                                        });

                                        // create a detail chart referenced by a global variable
                                        detailChart = new Highcharts.Chart({
                                                chart: {
                                                        marginBottom: 120,
                                                        renderTo: 'detail-container',
                                                        defaultSeriesType: 'area',
                                                        reflow: false,
                                                        marginLeft: 50,
                                                        marginRight: 20,
                                                        style: {
                                                                position: 'absolute'
                                                        }
                                                },
                                                credits: {
                                                        enabled: false
                                                },
                                                title: {
                                                        text: 'Retractions by date'
                                                },
                                                subtitle: {
                                                        text: 'Select an area by dragging across the lower chart'
                                                },
                                                xAxis: {
                                                        type: 'datetime'
                                                },
                                                yAxis: {
                                                        title: null,
                                                        maxZoom: 0.1
                                                },
                                                tooltip: {
                                                        formatter: function() {
                                                                var point = this.points[0];
                                                                var s = Highcharts.dateFormat('%A %B %e %Y', this.x) + '<br/>' + 'Retractions: ' + Highcharts.numberFormat(point.y, 0);
                                                                return s;
                                                        },
                                                        shared: true
                                                },
                                                legend: {
                                                        enabled: false
                                                },
                                                plotOptions: {
                                                        series: {
                                                                marker: {
                                                                        enabled: false,
                                                                        states: {
                                                                                hover: {
                                                                                        enabled: true,
                                                                                        radius: 5
                                                                                }
                                                                        }
                                                                },
                                                                cursor: 'pointer',
                                                                point: {
                                                                       events: {
                                                                         click: function() {
                                                                           var s = '/date/' + Highcharts.dateFormat('%Y-%m-%d', this.x);
                                                                           // location.href = s;
                                                                           window.open(s);
                                                                           return false;
                                                                         }
                                                                       }
                                                                }
                                                        }
                                                },
                                                series: [{
                                                        name: 'USD to EUR',
                                                        pointStart: detailStart,
                                                        pointInterval: 24 * 3600 * 1000,
                                                        data: detailData
                                                }],

                                                exporting: {
                                                        enabled: false
                                                }

                                        });
                                }

                                // make the container smaller and add a second container for the master chart
                                var $container = $('#container')
                                        .css('position', 'relative');

                                var $detailContainer = $('<div id="detail-container">')
                                        .appendTo($container);

                                var $masterContainer = $('<div id="master-container">')
                                        .css({ position: 'absolute', top: 300, height: 120, width: '100%' })
                                        .appendTo($container);

                                // create master and in its callback, create the detail chart
                                createMaster();





                        });
