commons/code/R/*.html linguist-documentation
novelty/code/R/*.html linguist-documentation
oa_growth/output/*.html linguist-documentation
retractions/code/R/*.html linguist-documentation
retractions/data/*.html linguist-documentation
retractions/data/*.xml linguist-vendored=false
*.Rmd linguist-language=R
