%h2 Timeline
%p Last update: #{@data['updated_at']}

%div#container(style="margin-left: auto; margin-right: auto; width: 800px;")

%div#detail(style="margin-left: auto; margin-right: auto; width: 800px; text-align: center; background-color: #FFFFC0;")

:javascript
  $(function () {
    new Highcharts.Chart({
      chart:  {
               renderTo: 'container',
               defaultSeriesType: 'area',
               width: 800,
               height: 600,
               zoomType: 'x',
               marginTop: 80
             },
      subtitle: {
               text: 'Click and drag in the plot area to zoom in<br/>Hover over point and click link under chart for details'
               },
      legend: { enabled: false },
      title:  { text: 'Retractions by date' },
      xAxis:  { type: 'datetime'},
      yAxis:  { title:
               { text: 'Retractions' }
             },
      series: [{
        data: #{@data['timeline'].inspect.gsub(/"/,"")}
            }],
      credits: { enabled: false },
      tooltip: {
                formatter: function() {
                                       var s = '<a href="/date/' + Highcharts.dateFormat('%Y-%m-%d', this.x) + '" target="_blank">' + Highcharts.dateFormat('%A %B %e %Y', this.x) + ' : ' + this.y + '</a>';
                                       $('#detail').html(s);
                                       return s;
                                     }
              },
      plotOptions: {
                    area: {
                            lineWidth: 0,
                            shadow: false,
                            states: {
                                     hover: { lineWidth: 0},
                                   },
                            marker: {
                                     enabled: false,
                                     states: {
                                              hover: {
                                                      enabled: true
                                                    }
                                            }
                                   }
                         }
                 }
    });
  });
