%h1 Timeline

%div#container(style="margin-left: auto; margin-right: auto; width: 800px;")

:javascript
  $(function () {
    new Highcharts.Chart({
      chart:  {
               renderTo: 'container',
               defaultSeriesType: 'spline',
               width: 800,
               height: 600,
               zoomType: 'x'
             },
      subtitle: { text: 'Click and drag in the plot area to zoom in' },
      legend: { enabled: false },
      title:  { text: 'Retractions by date' },
      xAxis:  { type: 'datetime', maxZoom: 604800000},
      yAxis:  { title:
               { text: 'Retractions' }
             },
      series: [{
        data: #{@data.to_a.inspect.gsub(/"/,"")}
            }],
      credits: { enabled: false },
      tooltip: {
                formatter: function() {
                                       return Highcharts.dateFormat('%A %B %e %Y', this.x) + ' : ' + this.y + ' entries';
                                     }
              },
      plotOptions: {
                    area: {
                            lineWidth: 0,
                            shadow: false,
                            states: {
                                     hover: { lineWidth: 0},
                                   },
                            marker: {
                                     enabled: false,
                                     states: {
                                              hover: {
                                                      enabled: true
                                                    }
                                            }
                                   }
                         }
                 }
    });
  });
