!!! XML
!!!

%html
  %head
    %title FFStats
    %script{:type => "text/javascript", :src => "/javascripts/jquery-1.4.2.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/highcharts.js"}
    %script{:type => "text/javascript", :src => "/javascripts/exporting.js"}
    %script{:type => "text/javascript", :src => "/javascripts/grid.js"}
  %body
    %div(style="float:right")
      %a(href="/") Timeline
      |
      %a(href="/cumulative")  Cumulative
      |
      %a(href="/byyear") By Year
      |
      %a(href="/journals") Journals
      |
      %a(href="/testing") Testing
    %div
      = yield

